{% extends "base.html" %}

{% block title %} Пост {{ post.text|truncatechars:30 }} {% endblock %}

{% block content %}
  <div class="row">

    {% include "includes/aside.html" %}

    <div class="col-12 col-md-9">
      {% include "includes/article.html" with style='display:none'%}
      {% if user == post.author %}
      <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">
        редактировать запись
      </a>
      {% endif %}
    </div>

  </div>

  {% include 'includes/paginator.html' %}

{% endblock %}